.not-arrow .dropdown-toggle::after {
    display:none
}


.notif .dropdown-item:hover{
	background-color: transparent;
}

.white {
	color: white;
}

.white .nav-link{
	color: white;
}

.lato{
	font-family: 'Lato', sans-serif;
}

.hr-small {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.imagestandart {
	height: auto; 
	width: 60%;
}

.barangs{
	font-size: 55px;
	text-align: center;
}

.searchBg{
	background-image: url("Picture/bgsearch.jpg");
}

body{
/*	background-image: url("Picture/Perpustakaan.jpg"); */
/*	opacity: 0.98;*/
}

.color1{
	color: #213159;
}

.color2{
	color: #3d6089;
}

.color3{
	color: #f0464c;
}

.color4{
	color: #e7e7e7;
}

.bgcolor1{
	background-color: #213159;
}

.bgcolor2{
	background-color: #3d6089;
}

.bgcolor3{
	background-color: #f0464c;
}

.bgcolor4{
	background-color: #e7e7e7;
}

.bgwhite{
	background-color: white;
}

.full{
	width: 100%;
}

@media only screen and (min-width: 100px) {
	.hr-small {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.imageresponse{
		height: auto;
		width: 15%;
	}
	.barangskecil{
		font-size: 15px;
	}
	.mid-sm{
		text-align: center;
	}
	.image-sm{
		text-align: center;
	}
}

@media only screen and (min-width: 1360px){
	.imageresponse{
		height: auto;
		width: 50%;
	}
	.mid-sm{
		text-align: left;
		vertical-align: middle;
	}
	.image-sm{
		padding-left: 10%;
	}
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  height: 100%;
}

html{
	height: 100%;
}

.container_login {
    padding: 25px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.body_login{
	height: 100%;
}

.rectangle{
	border-radius: 10px;
	height: 16vh;
	padding-top: 10px;
	padding-left: 30px; 
	font: normal 24px Roboto,arial,sans-serif;
	opacity: 0.8;
}

.rectange-button{
	border-radius: 40px;
}

.nama-barang{
	size:"50";
}

